@media screen and (max-width: 1200px) {
    .menu a {
        opacity: 0;
        position: absolute;
    }
    header img {
        opacity: 1;
        
    }
    .block h1 {
        font-size: 41px;
    }
    .block {
        height: 770px;
    }
    h2 {
        font-size: 34px;
    }
    .areas-of-work h4 {
        font-size: 52px;
    }
    .Areas-of-work__item p {
        font-size: 24px;
    }
    .Areas-of-work__item p span {
        font-size: 16px;
    }
}