* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo__svg {
  /*переделать*/
  position: absolute;
  top: 31px;
  left: 69px;
}
.logo__text {
  margin-left: 18px;
  margin-right: 3px;
}
header {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-right: 40px;
}
.information__address {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  margin-right: 40px;
}
.information {
  display: flex;
  text-align: end;
}
.information__contact {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #88c558;
}
.block {
  height: 980px;
  display: flex;
  align-items: flex-end;
  background-image: url(../img/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.block h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: white;
  line-height: 110%;
  padding: 0px 0px 100px 60px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1216px;
}
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  margin-top: 180px;
}
h4 {
  font-style: italic;
  font-weight: 100;
  font-size: 70px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.15);
}
.Areas-of-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Areas-of-work__item p {
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
  margin-left: 24px;
}
.Areas-of-work__item p span {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}
.Areas-of-work__item {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.Areas-of-work__item--margin {
  margin-right:26px; 
}