* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo__svg {
  /*переделать*/
  position: absolute;
  top: 31px;
  left: 69px;
}
.logo__text {
  margin-left: 18px;
  margin-right: 3px;
}
header {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-right: 40px;
}
.information__address {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  margin-right: 40px;
}
.information {
  display: flex;
  text-align: end;
}
.information__contact {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #88c558;
}
.block {
  height: 980px;
  display: flex;
  align-items: flex-end;
  background-image: url(../img/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 180px;
}
.block h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: white;
  line-height: 110%;
  padding: 0px 0px 100px 60px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1216px;
}
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}
h4 {
  font-style: italic;
  font-weight: 100;
  font-size: 70px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.15);
}
.Areas-of-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Areas-of-work__item p {
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
  margin-left: 24px;
}
.Areas-of-work__item p span {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}
.Areas-of-work__item {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.Areas-of-work__item--margin {
  margin-right: 26px;
}
.about {
  display: flex;
  margin-top: 187px;
  justify-content: space-between;
}
.about__area h1 {
  font-weight: 500;
  font-size: 90px;
  line-height: 110%;
  margin-bottom: 21px;
}
.about__area p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.about__info {
  display: flex;
  align-items: flex-end;
  max-width: 501px;
}
.about__info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.line {
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 60px;
}
.info__fit-out h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  margin: 0;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.info__area h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}
.info__area h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  max-width: 148px;
  margin-left: 20px;
}
.info__area {
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.info__fit-out p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  max-width: 576px;
  margin-top: 32px;
  margin-bottom: 60px;
}
.info__fit-out--h2 h2 {
  margin-top: 60px;
}
.about-us {
  display: flex;
}
.about-us__info p {
  max-width: 592px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}
.map {
  margin-top: 80px;
  background-image: url(../img/path2830.png);
}
.map img {
  position: absolute;
}
.map h1 {
  font-weight: 500;
  font-size: 90px;
  line-height: 110%;
}
.map h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
}
.map__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
}
.map__text p {
  font-weight: 500;
  font-size: 90px;
  line-height: 110%;
}
.map h2 {
  padding-top: 180px;
  padding-bottom: 60px;
}
.service__block h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  padding-top: 20px;
}
.service__block p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  max-width: 388px;
  margin-bottom: 48px;
  padding-top: 8px;
}
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service__block h6 span {
  color: #b2b2b2;
  margin-left: 12px;
}
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 142px;
}
.features__text p {
  max-width: 603px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.features__text h2 {
  margin-bottom: 40px;
}
.features__shooters {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0 16px 0;
}
.features__shooters span {
  padding-right: 12px;
  color: #88c558;
}
.projects {
  margin-top: 180px;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.projects p {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  margin-top: 16px;
}
.projects p span {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 12px;
}
.projects__cards {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.projects__header h6 a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #88c558;
}
.team {
  margin-top: 180px;
}
.team__human h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  padding-left: 24px;
  padding-top: 24px;
}
.team__human span {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  padding-left: 24px;
  padding-top: 4px;
}
.team__human {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  max-width: 384px;
}
.team__people {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.team__img {
  padding: 18px 56px 0 56px;
}
.team__img--padding {
  padding: 18px 18px 0 18px;
}
.team__underside {
  display: flex;
  max-width: 384px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team__underside div {
  background-color: #efefef;
  max-width: 176px;
  padding-top: 16px;
  margin-bottom: 32px;
  width: 100%;
}
.team__column {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.team__img--padding2 {
  padding: 0 70px 0 55px;
}
.excurs__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.excurs {
  margin-top: 148px;
}
.excurs__header p span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  color: #a7cc4a;
}
.excurs__header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.5);
  max-width: 181px;
}
.excurs__lenta {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}
.excurs__lenta p {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #14191d;
  max-width: 280px;
}
.excurs__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  max-width: 904px;
  margin-top: 64px;
}
.team__last img {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.team__last {
  position: relative;
}
.team__last p {
  font-weight: 700;
  font-size: 16px;
  color: white;
  line-height: 110%;
}
.team__last span {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}
footer {
  background-color: #F5F5F5;
  margin-top: 180px;
}
.contacts {
  padding-top: 120px;
}
.contacts__info h2 {
  padding-bottom: 40px;
}
.contacts__block {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.contacts__column p {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 40px;
  padding-bottom: 21px;
}
.contacts__column2 p {
  color: #88C558;
  padding-bottom: 21px;
}
.contacts__column2 span {
  color: black;
}